Burdaki linkler ilk basta fixlediklerim herkeze iyi eglenceler....
http://s3.dosya.tc/server30/LCIyIw/v2NPClerfullfix.rar.html
http://www.mediafire.com/download/ve2s03uh04jehxf/v2+NPCler+full+fix.rar
